In [1]:
# Regression
# predict-> continous number
# ORDERED, GROUPED-> no missing values 
# X axis should be complete!
# X-axis is time-> regression -> TIME SERIES ANALYSIS

In [2]:
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from tensorflow.keras.layers.experimental import preprocessing

In [4]:
colnames = {1:"mpg",
2:"cylinders",
3:"displacement",
4:"horsepower",
5:"weight",
6:"acceleration",
7:"model_year",
8:"origin",
9:"car_name"}

In [22]:
columns = [value for k,value in colnames.items()]

In [23]:
columns

['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year',
 'origin',
 'car_name']

In [107]:
!ls
data = pd.read_csv('auto-mpg (1).data', comment='\t', sep=' ', na_values=['?'],
                   skipinitialspace=True, names=columns)

'auto-mpg (1).data'   sample_data

In [64]:
data.head()

    mpg  cylinders  displacement  ...  model_year  origin  car_name
0  18.0          8         307.0  ...          70       1       NaN
1  15.0          8         350.0  ...          70       1       NaN
2  18.0          8         318.0  ...          70       1       NaN
3  16.0          8         304.0  ...          70       1       NaN
4  17.0          8         302.0  ...          70       1       NaN

[5 rows x 9 columns]

In [108]:
data = data.iloc[:,:-1].dropna()
data.head()

    mpg  cylinders  displacement  ...  acceleration  model_year  origin
0  18.0          8         307.0  ...          12.0          70       1
1  15.0          8         350.0  ...          11.5          70       1
2  18.0          8         318.0  ...          11.0          70       1
3  16.0          8         304.0  ...          12.0          70       1
4  17.0          8         302.0  ...          10.5          70       1

[5 rows x 8 columns]

In [66]:
# all null values
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        392 non-null    float64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
 7   origin        392 non-null    int64
dtypes: float64(5), int64(3)
memory usage: 27.6 KB

In [67]:
data.origin.value_counts()

1    245
3     79
2     68
Name: origin, dtype: int64

In [109]:
# origin> city
# 1- , 2- , 3- mangalore
city_encoding = {1:'honolulu', 2:'chickmangalur', 3: 'mangalore'}
data.origin = data.origin.map(city_encoding)

In [69]:
data.tail(10)

      mpg  cylinders  displacement  ...  acceleration  model_year         origin
388  26.0          4         156.0  ...          14.5          82       honolulu
389  22.0          6         232.0  ...          14.7          82       honolulu
390  32.0          4         144.0  ...          13.9          82      mangalore
391  36.0          4         135.0  ...          13.0          82       honolulu
392  27.0          4         151.0  ...          17.3          82       honolulu
393  27.0          4         140.0  ...          15.6          82       honolulu
394  44.0          4          97.0  ...          24.6          82  chickmangalur
395  32.0          4         135.0  ...          11.6          82       honolulu
396  28.0          4         120.0  ...          18.6          82       honolulu
397  31.0          4         119.0  ...          19.4          82       honolulu

[10 rows x 8 columns]

In [110]:
# filter these values as categories instead
# One-Hot encoding-> column values-> converts them into columns

encoding = pd.get_dummies(data, columns=['origin'], prefix='was_at_')
encoding.tail(10)

      mpg  cylinders  ...  was_at__honolulu  was_at__mangalore
388  26.0          4  ...                 1                  0
389  22.0          6  ...                 1                  0
390  32.0          4  ...                 0                  1
391  36.0          4  ...                 1                  0
392  27.0          4  ...                 1                  0
393  27.0          4  ...                 1                  0
394  44.0          4  ...                 0                  0
395  32.0          4  ...                 1                  0
396  28.0          4  ...                 1                  0
397  31.0          4  ...                 1                  0

[10 rows x 10 columns]

In [71]:
# normalization-> z-score
# z-score = (x-mean)/std [only for training-> and apply same assumptions to testing data]
stats = data.describe().T
stats

              count         mean         std  ...      50%       75%     max
mpg           392.0    23.445918    7.805007  ...    22.75    29.000    46.6
cylinders     392.0     5.471939    1.705783  ...     4.00     8.000     8.0
displacement  392.0   194.411990  104.644004  ...   151.00   275.750   455.0
horsepower    392.0   104.469388   38.491160  ...    93.50   126.000   230.0
weight        392.0  2977.584184  849.402560  ...  2803.50  3614.750  5140.0
acceleration  392.0    15.541327    2.758864  ...    15.50    17.025    24.8
model_year    392.0    75.979592    3.683737  ...    76.00    79.000    82.0

[7 rows x 8 columns]

In [111]:
y = encoding.mpg
x = encoding.drop('mpg', axis=1)

y

0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
393    27.0
394    44.0
395    32.0
396    28.0
397    31.0
Name: mpg, Length: 392, dtype: float64

In [112]:
len(y)

392

In [113]:
stats = trainx.describe().T
x_new = x[x.was_at__honolulu == 1] # filter the data for 1 particular city!
x_new.head()
colnames = ['cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model_year']
x_new = x_new.loc[:, colnames]
x_new.head()

   cylinders  displacement  horsepower  weight  acceleration  model_year
0          8         307.0       130.0  3504.0          12.0          70
1          8         350.0       165.0  3693.0          11.5          70
2          8         318.0       150.0  3436.0          11.0          70
3          8         304.0       150.0  3433.0          12.0          70
4          8         302.0       140.0  3449.0          10.5          70

In [114]:

trainx = x_new.sample(frac=0.80, random_state=42)
testx = x_new.drop(trainx.index)
stats = trainx.describe().T
mu = stats['mean']
sigma = stats['std']

In [116]:
y.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            388, 389, 390, 391, 392, 393, 394, 395, 396, 397],
           dtype='int64', length=392)

In [117]:
xtrain = (trainx-mu)/sigma
xtrain.head()
xtest = (testx - mu)/sigma 
xtest.head()

    cylinders  displacement  horsepower    weight  acceleration  model_year
1    1.016358      0.985179    1.097896  0.386938     -1.202296   -1.500960
15  -0.183679     -0.516545   -0.612851 -0.673879      0.196428   -1.500960
27   1.016358      0.669027    2.197662  1.236824     -0.502934   -1.500960
28   1.016358      0.530710    1.782195  1.668552      1.245471   -1.500960
47  -0.183679     -0.002798   -0.490655 -0.120034      0.021587   -1.227042

In [123]:

ytrain = y[xtrain.index]
ytest = y[xtest.index]

In [124]:
xtest[:5]

    cylinders  displacement  horsepower    weight  acceleration  model_year
1    1.016358      0.985179    1.097896  0.386938     -1.202296   -1.500960
15  -0.183679     -0.516545   -0.612851 -0.673879      0.196428   -1.500960
27   1.016358      0.669027    2.197662  1.236824     -0.502934   -1.500960
28   1.016358      0.530710    1.782195  1.668552      1.245471   -1.500960
47  -0.183679     -0.002798   -0.490655 -0.120034      0.021587   -1.227042

In [125]:
ytest[:5]

1     15.0
15    22.0
27    11.0
28     9.0
47    19.0
Name: mpg, dtype: float64

Int64Index([ 34,   6, 228, 323, 298, 263, 289, 187,   9, 146,
            ...
             13,  85, 379, 194,  24, 252,  98, 340, 199, 300],
           dtype='int64', length=196)

In [99]:
testx = x_new.drop(allindexes)
testx = (testx - mu)/sigma
testx.head()

    cylinders  displacement  horsepower    weight  acceleration  model_year
1    1.016358      0.985179    1.097896  0.386938     -1.202296   -1.500960
15  -0.183679     -0.516545   -0.612851 -0.673879      0.196428   -1.500960
27   1.016358      0.669027    2.197662  1.236824     -0.502934   -1.500960
28   1.016358      0.530710    1.782195  1.668552      1.245471   -1.500960
47  -0.183679     -0.002798   -0.490655 -0.120034      0.021587   -1.227042

In [126]:
len(testx)

49

In [127]:
len(ytest)

49

In [129]:
# TF-> Dense -> 
trainx.shape

(196, 6)

In [131]:
# single element input shape-> (1,6)
from keras.layers import Dense
layer1 = Dense(16, input_shape=(1,6))
layer2 = Dense(32, activation='relu')
layer3 = Dense(1)
layers = [layer1,layer2,layer3]
model = keras.models.Sequential(layers)